mixin widget(obj)
    .widget.widget2x2.widget_purple.widget_link.animation.unloaded(
        data-theme="purple",
        id="widget_#{obj.name}"
        )
        .widget_content
            .widget_main
                .widget_bg(style="background-image:url('#{obj.icon}');")
                .widget_tit #{obj.name}

if cntFile
each obj in files
    +widget(obj.data)
else
    .alert No Apps found!